<!DOCTYPE html>
<html>
    <head>
        <title>Pick an Image</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="POST">
            <label for="image">Select an image:</label>
            <select name="image" id="image">
            {{range $pic := .Images}}
                <option value={{$pic}}>{{$pic}}</li>
            {{end}}
            </select>
            <br />
            <input type="submit" value="Submit">
        </form>
        {{if .Active}}
        <h3>{{.Active}}</h3>
        <img src="/images/{{.Active}}">
        <h3>Average Color</h3>
        <img src="/result">
        {{end}}
    </body>
</html>